{#
/**
 * @file counterparties_entity.html.twig
 * Default theme implementation to present Counterparties entity data.
 *
 * This template is used when viewing Counterparties entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_counterparties_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('counterparties_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
  <h1>Privet</h1>
</div>
