{#
/**
 * @file orders_crm_entity.html.twig
 * Default theme implementation to present Orders crm entity data.
 *
 * This template is used when viewing Orders crm entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_orders_crm_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('orders_crm_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
