{#
/**
 * @file products_crm_entity.html.twig
 * Default theme implementation to present Products crm entity data.
 *
 * This template is used when viewing Products crm entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_products_crm_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('products_crm_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
